#
# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config SHIELD_ERGODASH_MINI_CENTRAL_DONGLE
    bool

config BOARD_ERGODASH_MINI_CENTRAL_LEFT
    bool

confih BOARD_ERGODASH_MINI_PERIPHERAL_LEFT
    bool

config BOARD_ERGODASH_MINI_RIGHT
    bool




